/* Navbar.css */
.navbar {
  display: flex;
  align-items: center;
  background-color: #0c0c0c;
  padding: 10px 30px;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 7%;
  z-index: 1000;
}

.navbar-logo img {
  height: 35px;
}

.navbar-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar-buttons {
  display: flex;
  margin-left: auto;
  /* Aligns buttons to the far right */
}

.navbar-button {
  background-color: #0c0c0c;
  font-weight: bold;
  font-size: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  border: none;
  padding-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 12px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 50px;
  cursor: pointer;
  transition: trasnform 0.3s;
}

.navbar-button:hover {
  /* background-color: #454545; */
  color: rgb(243, 93, 163);
  transform: scale(1.1);
}

.Myntra {
  font-weight: bold;
  font-size: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  border: none;
  padding-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 12px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 50px;
  cursor: pointer;
}